# Express APP
PORT=

# NextDemo API
NEXT_DEMO_APP_NAME=

## Auth
NEXT_DEMO_AUTH_SECRET=

### OAuth: Google
NEXT_DEMO_AUTH_GOOGLE_ID=
NEXT_DEMO_AUTH_GOOGLE_SECRET=

### OAuth: Github
NEXT_DEMO_AUTH_GITHUB_ID=
NEXT_DEMO_AUTH_GITHUB_SECRET=

## emails
NEXT_DEMO_EMAIL_ID=
NEXT_DEMO_EMAIL_PASSWORD=

## relative paths without preceding or trailing slashes
NEXT_DEMO_AUTH_BASE_PATH=
NEXT_DEMO_AUTH_FRONTEND_VERIFY_EMAIL_PATH=
NEXT_DEMO_AUTH_FRONTEND_RESET_PASSWORD_PATH=
